body {
    background-color: #5c7aea;
  }
  
  h1 {
    margin-left: 10px;
    padding-top: 5px;
    margin-top: 60px;
    font-family: "Josefin Sans", sans-serif;
  }
  p {
    text-align: justify;
  }
  #main {
    width: 100%;
    height: 200px;
    margin-bottom: 100px;
    background-color: rgba(250, 250, 250, 0.6);
  }
  
  .side-btn {
    margin-left: 25px;
    margin-top: 25px;
  }
  
  .btn-color {
    background-color: rgba(250, 250, 145, 0.6);
  }
  
  #body-text {
    text-align: center;
    margin-top: 250px;
  }

  #imageDisplay {
      border: 3px solid red;
      border-radius: 15px;
      
  }
  
  #mainImage {
      max-width: 100%;
      max-height: 100%;
      border-radius: 15px;
  }
  .thumbnailImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .thumbnailVideo {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  #thumbnailContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      border: 3px solid blue;
  }

  .example {
      max-height: 200px;
      max-width: 200px;
      border-radius: 15px;
      margin: 5px;
  }
  
.videoThumbnail {
    height: 200px;
    width: 200px;
    border-radius: 15px;
    margin: 5px;
}

.imageThumbnail {
  height: 200px;
  width: 200px;
  border-radius: 15px;
  margin: 5px;
}
